/* Step 2  */

/* transboxes */
#trans1Step2{
    top: 170px;
    left: 600px;
    width: 80px;
}

#trans2Step2{
    top: 480px;
    left: 150px;
    width: 30px;
    height: 20px;
}

#trans3Step2{
    top: 130px;
    left: 550px;
    width: 55px;
    height: 170px;
}

/* arrows */

#arr1Step2{
    top: 190px;
    left: 675px;
}

#arr2Step2{
    left: 110px;
    top: 475px;
}

#arr3Step2{
    top: 190px;
    left: 600px;
}