/* step3 */

#trans1Step3{
    top: 150px;
    left: 570px;
    width: 80px;
}

#trans2Step3{
    top: 190px;
    left: 560px;
    width: 120px;
}

#arr1Step3{
    top: 175px;
    left: 640px;
}

#arr2Step3{
    top: 220px;
    left: 660px;
}